# Server
PORT=

#Database
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# OTP
OTP_EXPIRY_MINUTES=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

CORS_ORIGIN=

DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=